<div class="row">
  <nb-card accent="danger">
    <nb-card-body>
      Hello from ngx-admin sandbox project.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deleniti eum
      aut. Quos officia ut natus nesciunt vel
      deleniti consequuntur tempora, architecto sed eum accusantium consectetur culpa maxime distinctio obcaecati?Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Quae deleniti eum aut. Quos officia ut natus nesciunt vel
      deleniti consequuntur tempora, architecto sed eum accusantium consectetur culpa maxime distinctio obcaecati?
    </nb-card-body>
  </nb-card>
</div>